.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add styles for the collections */
ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  width: 20%; /* Set the width to 20% for 5 items in a row */
  box-sizing: border-box;
  margin: 10px;
  text-align: center; /* Center the text */
  border: 2px solid rgb(156, 53, 252);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);/* Add border style */
  padding: 15px; /* Add padding for better visual appearance */
  overflow: hidden;
}

.description {
  max-height: 3.6em; /* Set the maximum height for 15 words */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Set the number of lines to display */
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  li {
    width: 45%; /* Adjust the width for mobile screens */
  }
}
